Adafruit-Blinka==8.10.0
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-neopixel==6.3.7
adafruit-circuitpython-pixelbuf==2.0.0
adafruit-circuitpython-requests==1.12.11
adafruit-circuitpython-typing==1.8.3
Adafruit-PlatformDetect==3.38.0
Adafruit-PureIO==1.1.9
black==22.12.0
cffi==1.15.1
chacha20poly1305-reuseable==0.0.4
click==8.1.3
cryptography==38.0.4
h11==0.14.0
HAP-python==4.6.0
ifaddr==0.2.0
mypy==0.991
mypy-extensions==0.4.3
orjson==3.8.3
pathspec==0.10.3
platformdirs==2.6.2
pycparser==2.21
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.4
typing-extensions==4.4.0
zeroconf==0.47.1
